<h1>Registro de usuario</h1>

<form action="/signup" method="post">
    <div class="form-container">

        <label for="name">Email*</label>
        <input type="email" name="username" required>

        <label for="name">Contraseña*</label>
        <input type="text" name="password" required>
               
        <div class="button-container"> 
            <a href="/login"><button type="button">Login</button></a>
            <button type="submit">Enviar</button>
        </div>
        
    </div>
</form>
