h1{
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 30px;
}


body{
    background-image: linear-gradient(135deg, #EE9AE5 10%, #5961F9 100%);
    font-family: 'Baskervville', serif;
    background-attachment: fixed;
}


main{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.table-container{
    display: flex;
    justify-content: center;
    width: 100%;
}


.table{
    background: white;
    text-align: center;
}


.table-padding{
    width: 60%;
    padding-top: 20px;
    background: white;
    box-shadow: 0 0 15px #ddd;
}


.table img{
    height: 50px;
    padding: 0px !important;
}


.table-button{
    width: 300px;
}


.productos__empty--center{
    text-align: center;
    padding: 50px 0; 
}


.form-login, .signup-login, .index-form, .chat-form{
    background: white;
    min-height: 30vw;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


tr{
    border-color: white;
}


td{
    vertical-align: middle;
}


.form-container, .chat-container{
    padding: 50px 90px;
}


input{
    border-radius: 4px;
    width: 100%;
    margin: 20px 0;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.button-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}


button{
    background-color: #5961F9;
    width: 120px;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;

    border-radius: 10%;
}


button a{
    text-decoration: none;
    color: white;
}


button:hover {
    opacity: 0.8;
}


#chat{
    width: 30vw;
    word-wrap: break-word;
}


.chat-form{
    width: 50vw;
    padding-bottom: 50px;
}


.banner__name{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.banner__name h2, .banner__name button{
    margin: 0px;
    margin-left: 30px;
}


.main__center{
    min-height: 100vh;
}


.logout__background, .signUpError__background, .logInError__background, .info__background{
    background: white;
    border-radius: 4px;
    margin: 20px auto;
    padding: 50px;
    box-shadow: 0 0 15px #ddd;
}


@media only screen and (min-width: 0px) and (max-width: 1280px) {
    body form{
        min-width: 30vw;

    }
}






.navbar__button--margin{
    margin: 0 20px;
}

main{
    min-height: calc(100vh - 200px);
}

footer{
    height: 200px;
    margin-top: 30px;
}


.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
  
.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}
  
.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
  
.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}  

.product__container--marginTop{
    margin-top: 30px;
}

.products--grid{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.card{
    padding: 5px;
    text-align: center;
    margin: 5px;
    height: 500px;
}

.card img{
    min-height: 250px;
}



.clasificacion__background{
    background-color: #F4F4F4;
    padding: 50px;
    min-height: calc(100vh);
}

.clasificacion__titulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.clasificacion__item{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.clasificacion__item ul a li{
    text-decoration: none;
}

.clasificacion__border{
    border-bottom: 1px solid rgba(0,0,0,.2);
    width: 95%;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.clasificacion__item a{
    color: black;
    text-decoration: none;
}

.clasificacion__item a:hover{
    font-weight: bold;
}

.products-forms{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.button-container button{
    background-color: #5961F9;
    width: 120px;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 10%;
}


.button-container button a{
    text-decoration: none;
    color: white;
}


.button-container button:hover {
    opacity: 0.8;
}

.userName{
    margin-left: 20px;
}

.empty-products{
    margin:auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.empty-products h3{
    margin-top: 20px;
    font-weight: bold;
}

.empty-products img{
    size: 30px;
}

.cart-empty{
    text-align: center;
    height: 250px;
    width: 60%;
    padding-top: 20px;
    background: white;
    box-shadow: 0 0 15px #ddd;
}


.cart-empty img{
    height: 70%;
}

.cart-buttons{
    margin-top: 25px;
    width: 40%;
    display: flex;
    justify-content: space-around;
}



.card-order {
    width: 500px;
    min-height: 100px;
    padding: 20px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    margin-top: 30px;
}


.firstinfo {
    flex-direction: row;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
}

.firstinfo img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
.firstinfo .profileinfo {
    padding: 0px 20px;
}
.firstinfo .profileinfo h1 {
    font-size: 1.8em;
}
.firstinfo .profileinfo h3 {
    font-size: 1.2em;
    color: #009688;
    font-style: italic;
}
.firstinfo .profileinfo p.bio {
    padding: 10px 0px;
    color: #5a5a5a;
    line-height: 1.2;
    font-style: initial;
}

