h1{
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 30px;
}


body{
    background-image: linear-gradient(135deg, #EE9AE5 10%, #5961F9 100%);
    font-family: 'Baskervville', serif;
    background-attachment: fixed;
}


main{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.table-container{
    display: flex;
    justify-content: center;
    width: 100%;
}


.table{
    background: white;
    text-align: center;
}


.table-padding{
    width: 60%;
    padding-top: 20px;
    background: white;
    box-shadow: 0 0 15px #ddd;
}


.table img{
    height: 50px;
    padding: 0px !important;
}


.table-button{
    width: 300px;
}


.productos__empty--center{
    text-align: center;
    padding: 50px 0; 
}


body form{
    background: white;
    min-height: 30vw;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


tr{
    border-color: white;
}


td{
    vertical-align: middle;
}


.form-container, .chat-container{
    padding: 50px 90px;
}


input{
    border-radius: 4px;
    width: 100%;
    margin: 20px 0;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.button-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}


button{
    background-color: #5961F9;
    width: 120px;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 10%;
}


button a{
    text-decoration: none;
    color: white;
}


button:hover {
    opacity: 0.8;
}


#chat{
    width: 30vw;
    word-wrap: break-word;
}


.chat-form{
    width: 50vw;
    padding-bottom: 50px;
}

@media only screen and (min-width: 0px) and (max-width: 1280px) {
    body form{
        min-width: 30vw;

    }
}
