html{
    background-image: linear-gradient(135deg, #EE9AE5 10%, #5961F9 100%);
    font-family: 'Baskervville', serif;
}


main{
    height: 97vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}


body form{
    background: white;
    width: 30vw;
    height: 30vw;
    box-shadow: 0 0 15px #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


input{
    border-radius: 4px;
    width: 60%;
    margin: 8px 0;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


button{
    background-color: #5961F9;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}


button:hover {
    opacity: 0.8;
}
 

@media only screen and (min-width: 0px) and (max-width: 1200px) {
    body form{
        width: 50vw;
        height: 50vw;
    }
}