doctype html
html(lang="en")
    include templates/head
    
    body 
        main
        
            h1 Productos

            div.table-container
                div.table-padding
            
                    table.table
                        thead
                            tr
                                th(scope="col") Nombre
                                th(scope="col") Precio
                                th(scope="col") Foto

                        each prod in data 

                            tbody
                                tr
                                    td= prod.title
                                    td= prod.price
                                    td
                                        img(src= prod.thumbnail alt= prod.title)


            a(href="./" class="table-button")
                button.table-button Cargar Productos


