doctype html
html(lang="en")
    include templates/head
        
    body    
        main 
            div.table-container
                div.table-padding
                    h2.productos__empty--center  No hay productos cargados :(


            a(href="./" class="table-button")
                        button.table-button Cargar Productos

