<!DOCTYPE html>
<html lang="en">
    <%- include("templates/head") %>

    <body>
        <main>
            <h1>Productos</h1>

            <div class="table-container"> 
                <div class="table-padding">

                    <h2 class="productos__empty--center"> No hay productos cargados :(</h2>

                </div>
            </div>

            
            <a href="./" class="table-button"><button class="table-button">Cargar Productos</button></a>

        </main>
    </body>

</html>